JAVA_HOME={{ java_home }}
CATALINA_PID={{ catalina_home }}/temp/tomcat.pid
CATALINA_HOME={{ catalina_home }}
CATALINA_BASE={{ catalina_home }}
CATALINA_OPTS='-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
JAVA_OPTS='-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'
