ARCOT_HOME=/opt/CA/AdvAuth
export ARCOT_HOME

ODBCHOME=$ARCOT_HOME/odbc64v80
export ODBCHOME

ODBCINI=$ODBCHOME/odbc.ini
export ODBCINI

LD_LIBRARY_PATH=$ODBCHOME/lib:$ARCOT_HOME/sbin:$ARCOT_HOME/lib:$ARCOT_HOME/bin:$ARCOT_HOME/sdk/server/plugin/c/lib:/opt/java/jre/bin
export LD_LIBRARY_PATH

LC_MESSAGES=en_US
export LC_MESSAGES

NLS_LANG=American_America.UTF8
export NLS_LANG

LC_CTYPE=en_US.UTF-8
export LC_CTYPE

export PATH=$PATH:$JAVA_HOME/bin
