[Unit]
Description=CA Case Manangement
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/arcot
ExecStart={{ arcot_home }}/bin/casemanagementserver start
ExecStop={{ arcot_home }}/bin/casemanagementserver stop

WorkingDirectory={{ arcot_home }}

User=arcot
Group=arcot

[Install]
WantedBy=multi-user.target
