#Choose features to be installed (WFSRV,WFSDK,WFAPP,Admin,arcotuds)
#-------------------------------------------------------------------
CHOSEN_FEATURE_LIST=WFSRV,WFSDK,WFAPP,Admin,arcotuds

#Choose Installation Folder
#--------------------------
USER_INSTALL_DIR_SILENT={{ arcot_home }}

#DBType Selected (oracle/mssqlserver/db2/mysql)
#----------------------------------------------
ARCOT_DBTYPE_SILENT=oracle


##---------------------------------------
###Primary Database Details
##---------------------------------------

ARCOT_CONFIG_PRIMARY_DB_SILENT={{ properties_configure_db }}

#Primary DSN Name
#----------------
ARCOT_PRIMARY_DSN_NAME_SILENT={{ properties_db_dsn }}

#Primary Database
#----------------
ARCOT_PRIMARY_DATABASE_SILENT=

#Primary SID (For Oracle)
#--------------------------
ARCOT_PRIMARY_SID_SILENT={{ properties_db_sid }}
ARCOT_PRIMARY_TNS_SERVICE_NAME_SILENT={{ properties_db_service_name }}

#Primary Host Name
#-----------------
ARCOT_PRIMARY_HOST_NAME_SILENT={{ properties_db_host }}

#Primary Port Number
#-------------------
ARCOT_PRIMARY_PORT_SILENT={{ properties_db_port }}

#Primary User Name
#-----------------
ARCOT_PRIMARY_USER_NAME_SILENT={{ properties_db_user }}

#Primary Password
#----------------
ARCOT_PRIMARY_PASSWORD_SILENT={{ properties_db_password }}


#Configure Backup DB if true (true/false)
#----------------------------------------

ARCOT_CONFIG_BACKUP_DB_SILENT=false

##---------------------------------------
###Backup Database Details
##---------------------------------------

#Backup DSN Name
#---------------
ARCOT_BACKUP_DSN_NAME_SILENT=

#Backup Database
#-----------------
ARCOT_BACKUP_DATABASE_SILENT=

#Backup SID
#----------
ARCOT_BACKUP_SID_SILENT=
ARCOT_BACKUP_TNS_SERVICE_NAME_SILENT=

#Backup Host Name
#---------------
ARCOT_BACKUP_HOST_NAME_SILENT=

#Backup Port Number
#------------------
ARCOT_BACKUP_PORT_SILENT=

#Backup User Name
#----------------
ARCOT_BACKUP_USER_NAME_SILENT=

#Backup Password
#---------------
ARCOT_BACKUP_PASSWORD_SILENT=

#-------------------------------------------
###Encryption Details
#-------------------------------------------

#Encryption method: software/hardware
ARCOT_ENC_TYPE_SILENT=S/W

ARCOT_ENC_DEVICE_NAME_SILENT=
ARCOT_KEY_LABEL_SILENT={{ properties_enc_masterkey }}
ARCOT_HSM_PIN_SILENT=
ARCOT_HSM_SHARED_LIBRARY_SILENT=
ARCOT_HSM_STORAGE_SLOT_SILENT=

#-------------------------------------------
###DB Configuration Details
#-------------------------------------------

INITIALIZE_DB={{ properties_db_initialize  }}
UPGRADE_DB={{ properties_db_upgrade }}

#-------------------------------------------
###Bootstrap Details
#-------------------------------------------
PERFORM_BOOTSTRAP={{ properties_bootstrap }}
GLOBAL_KEY_LABEL=skey1
GLOBAL_KEY_STORAGE_TYPE=Software
MASTERADMIN_PASSWORD={{ properties_admin_pw }}
DEFAULT_ORG_DISPLAY_NAME=DEFAULT
DEFAULT_ORG_USE_GLOBAL_KEY=true
DEFAULT_ORG_KEY_STORAGE_TYPE=Software
DEFAULT_ORG_KEY={{ properties_default_org_key }}

#-------------------------------------------
###Service auto start option
#-------------------------------------------
SERVICE_START=0
CM_SERVICE_START=
