#unsure what section name should be
section_name =

  (DESCRIPTION =

    (ADDRESS_LIST =

      (ADDRESS = (PROTOCOL = TCP)(HOST = '{{ properties_db_host }}')(PORT = '{{properties_db_port}}'))

    )

    (CONNECT_DATA =

      (SERVICE_NAME = '{{properties_db_service_name}})

    )

  )