{{ arcot_db_rac_section_name }}=

  (DESCRIPTION =

    (ADDRESS_LIST =

      (ADDRESS = (PROTOCOL = TCP)(HOST = {{ arcot_db_host }} )(PORT = 1521))

    )

    (CONNECT_DATA =

      (SERVICE_NAME = {{ arcot_db_rac_service_name}})
      (SERVER=dedicated)

    )
    {%- if arcot_db_rac_desc_additons != ''-%}
    {{ arcot_db_rac_desc_additons }}
    {%- endif -%}
  )


   