rmdn2a=(DESCRIPTION=(FAILOVER=yes)(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=scan-rmdn2aw10)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=rmdn2a_arcot_rw)))
rmdn1=(DESCRIPTION=(FAILOVER=yes)(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=scan-rmdn1w10)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=rmdn1_arcot_rw)))
rmdn0=(DESCRIPTION=(FAILOVER=yes)(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=scan-rmdn0w10)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=rmdn0_arcot_rw)))
rmdpf=(DESCRIPTION=(FAILOVER=yes)(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=scan-rmdpfw10)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=rmdpf_arcot_rw)))
rmdpr=(DESCRIPTION=(FAILOVER=yes)(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=scan-rmdprw10)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=rmdpr_arcot_rw)))
