export JAVA_HOME={{ java_home }}
export CATALINA_HOME={{ catalina_home }}
export PATH=$PATH:$CATALINA_HOME/bin:$JAVA_HOME/bin
export CLASSPATH=.:$JAVA_HOME/jre/lib:$JAVA_HOME/lib:$JAVA_HOME/lib/tools.jar
